*{
  margin: 0%;
  padding: 0%;
  }
.row {
  align-items: center;
}

.nav {
  justify-content: flex-start; /* menu à esquerda */
}

.col:last-child {
  text-align: right; /* ícones à direita */
}
.col i {
  margin-left: 15px;
  font-size: 20px;
  cursor: pointer;
}
.nav-link {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: black;
}
.nav-link {
  color: rgb(170, 36, 36); /* cor normal */
}

.nav-link:hover {
  color: #3a3d39; /* cor ao passar o mouse */
}

.cole i{
  color: rgb(255, 255, 255);
  }
.col i {
  color: rgb(29, 29, 29);
  transition: 0.3s;
}

.col i:hover {
  color: #09386a;
}
.faixa-info {
  background-color: #115c66; /* muda a cor de fundo */
  color: white; /* cor do texto */
  padding: 5px 0; /* aumenta a altura visual */
  width: 100%;
}


.faixa-info .col {
  min-height: 10px; /* altura das colunas */
  display: flex;
  align-items: center;
  justify-content: center;
}
